@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fde68a;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.top-section {
  background: radial-gradient(circle, #dd0000 40%, transparent 41%);
  background-size: 3em 3em;
  background-color: #c70000;
  opacity: 1;
}
