body {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  background-color: #ffe89e;
}

#root {
  margin: 0;
  padding: 0;
}

.main {
  margin: 0;
  padding: 0;
}

.form-control:focus,.form-control:active,.form-select:focus,.form-select:active {
  outline: none !important;
  box-shadow: none !important;
  border-color: #f7ce5e; 
}

.btn {
  background-color: #f7ce5e;
  border: none;
}

.btn:hover {
  background-color: #d1af50;
}
.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
  background-color: #d1af50;
}

.page-link {
  color: #f7ce5e !important;
  border: none;
}

.pagination > .active > .page-link{
  background-color : #f7ce5e !important;
  border: none;
  color: #FFFFFF !important;
}

.footer-main {
  background-color: #f7ce5e;
  border-top: 10px solid #fddd85;
  color: #FFFFFF;
}

.footer-main p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.header-main {
  background-color: #e93225;
  border-bottom: 10px solid #f7ce5e;
  color: #FFFFFF;
}

.header-title {
  font-size: 72px;
  font-weight: 900;
}

.header-undertitle {
  font-weight: 900;
  font-size: 36px;
  color: #ffe89e;
}

.filters-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

.container-range {
  max-width: 200px;
}

.legoset-link {
  text-decoration: none;
  color: #000000;
}

.legoset-link:hover {
  color: #757575
}

.legoset-container {
  background-color: #ffffff;
  min-height: 260px;
}

.lego-thumbnail {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}