body {
  background-color: #464757;
}

#root {
  margin: 0;
  padding: 0;
}

.legoset-link {
  text-decoration: none;
  color: #000000;
}

.legoset-link:hover {
  color: #757575
}

.legoset-link div {
  background-color: #ffffff;
}

.lego-thumbnail {
  max-height: 250px;
  width: auto;
  max-width: 100%;
}